    #weekwork {
        width: 100%;
        background: #99c2ff;
        padding: 0px 0px;
    }
    #navigate {
        height: 48px;
        width: 100%;
        margin: 0 0 0 0px;
        padding: 0;
        border: 0;
        background: #E8E7E3;
    }
    .nav_list {
        text-align: center;
        font-size: 20px;
        color: black;
        line-height: 24px;
        font-family: sans-serif;
    }
	a:hover{
		background: yellow;
    }

    .split {
        height: 100%;
        width: 20%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
      }
      
    /* Control the left side */
    .left {
        left: 0;
        /* background-color:red; */
    }

    /* Control the right side */
    .right {
        right: 0;
        /* background-color: black; */
    }

    /* If you want the content centered horizontally and vertically */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
  
    /* Style the image inside the centered container, if needed */
    .centered img {
        width: 150px;
        border-radius: 50%;
    }
  
    .header {
        color: white; 
        font-size: 36px;
        text-align: center;
        font-family: 'Srisakdi', cursive;
    }
    .list {
        text-align: center;
        font-size: 20px;
        color: #CCFF99;
        line-height: 24px;
    }
